
.Routes{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 70px;
}

.static-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e #212121;
}

.header_a{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
}

.header_l{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
}

.header_list{
  color: rgb(214, 32, 32);
  text-decoration: none;
  text-align: center;
  width: 100px;
  
  &:hover{
    background-color: white;
  }
}

.header_list_div{
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  margin-top: -15px;
  margin-right: 8px;
  &:hover{
    background-color: rgb(55, 55, 55);
    box-shadow: 0 0 10px rgb(55, 55, 55);
  }
}

.header_list_button{
  position: relative;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: rgb(50, 50, 50);
  border: none;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: rgb(100, 100, 100);
  }
}

.for_a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 150px;
  padding: 10px;
  font-size: 15px;

  &:hover{
    background-color: #212121;
    border-radius: 5px;
  }
}

.header_inp{
  background-color: #2e2e2e;
  width: 200px;
  color: white;
  height: 20px;
  border-radius: 5px;
  margin-top: -6px;
  margin-left: 40px;
  padding-left: 40px;
}