.accept_butt{
    height: 30px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: 15px;

    &:hover{
        background-color: rgb(0, 112, 224);
        color: white;
    }
    }

    .reject_butt{
    height: 32px;
    background: none;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: 15px;
    margin-left: 20px;

    &:hover{
    background-color: rgb(55, 55, 55);
    }
    }

    .friend_link{
    color: rgb(0, 112, 224);
    float: right;
    margin-top: -43px;
    text-decoration: none;

    &:hover{
    text-decoration: underline;
    }
    }

    .sender_link{
    color: white;
    text-decoration: none;
    font-weight: bold;

    &:hover{
    text-decoration: underline;
    }
    }

    .send_msg{
    color: rgb(0, 112, 224);
    text-decoration: none;

    &:hover{
    text-decoration: underline;
    }
    }
    .friend_inp{
    background-color: #2e2e2e;
    width: 90%;
    margin: 20px auto;
    color: white;
    border-radius: 5px;
    }

.option_friend{
    background: none;
    color: #858585;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;

    &:hover{
        background-color:#2e2e2e
    }

}
  